.mg-md {
  margin-top: 10px;
}

.mg-med {
  padding-right: 200px;
}

.container {
  margin-bottom: 100px;
}

h6 {
  margin-top: 25px;
}

h3 {
  color: #020f72;
  text-decoration: underline;
  text-decoration-color: #4286f4;
}
